<!DOCTYPE>
<html>
<head>
    <meta name = "viewport"
        content = "width=device-width, initial-scale = 1" />
   
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <a href="index.html">Back to home page</a>
   
    <aside>
        <h3>Menu</h3>
        <ul>
            <li><a href="index.html">Home Page</a></li>
            <li><a href="account_links.html">Profile Links</a></li>
            <li><a href="ig_links.html">Instagram Post Links</a></li>
            <li><a href="account_links.html">Photography</a></li>
            <li><a href="account_links.html">Video</a></li>
            <li><a href="account_links.html">Resume</a></li>
            <li><a href="python_links.html">Python Code</a></li>
        </ul>
    </aside>

    <footer>
        <p>Copyright &copy</p>
    </footer>
</body>
</html>