{% extends 'base.html' %}

{% block head %}
<h1>Mortgage Planning</h1>
{% endblock %}

{% block body %}

<h1>Introduction</h1>
<ul>
    <li>Looking into living at Lachute airport/airpark</li>
</ul>

<h1>Options at Lachute</h1>
<ul>
    <li>Buy existing property</li>
    <li>New build</li>
</ul>

<h2>Buy Existing Property</h2>
<ul>
    <li>Could only find <a href="https://duproprio.com/en/laurentides/lachute/bungalow-for-sale/hab-23-rue-de-lepervier-418517">one listing</a> for a property at Lachute airport</li>
</ul>

<h2>New Build</h2>
<ul>
    <li>Found JHL Aviation that seems to be the main party behind the Lachute airpark developments</li>
</ul>

<img src="images/monthly_partial_payment_vs_years_parental_loan_jul21.png" alt=Figure1">

<h1>Context</h1>
Three scenarios are discussed or compared:
<ol>
    <li>Buying Existing L'Epervier House</li>
    <li>Construction of House on L'Epervier</li>
    <li>Non-Hangar Home House - BENCHMARK ONLY</li>
</ol>

<h1>Possible Scenarios Based on Interest Free Loan Max. Years</h1>
<h3>0 Years of Interest Free Loan</h3>
<ul>
    <li>Construction only</li>
</ul>

<h3>5 Years of Interest Free Loan</h3>
<ul>
    <li>Construction only</li>
</ul>

<h3>10 Years of Interest Free Loan</h3>
<ul>
    <li>$720k Purchase Price: $100k Interest Free Loan, $120k Down, $500k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $600</li>
    </ul>
</ul>

<h3>15 Years of Interest Free Loan</h3>
<ul>
    <li>$720k Purchase Price: $100k Interest Free Loan, $120k Down, $500k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $400</li>
    </ul>
    <li>$720k Purchase Price: $200k Interest Free Loan, $120k Down, $400k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $400</li>
    </ul>
    <li>$720k Purchase Price: $300k Interest Free Loan, $120k Down, $300k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $400</li>
    </ul>
</ul>

<h3>20 Years of Interest Free Loan</h3>
<ul>
    <li>$720k Purchase Price: $100k Interest Free Loan, $120k Down, $500k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $200</li>
    </ul>
    <li>$720k Purchase Price: $200k Interest Free Loan, $120k Down, $400k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $100</li>
    </ul>
    <li>$720k Purchase Price: $300k Interest Free Loan, $120k Down, $300k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $0</li>
    </ul>
    <li>$820k Purchase Price: $200k Interest Free Loan, $120k Down, $500k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $600</li>
    </ul>
    <li>$820k Purchase Price: $300k Interest Free Loan, $120k Down, $400k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $500</li>
    </ul>
    <li>$820k Purchase Price: $400k Interest Free Loan, $120k Down, $300k Mortgage</li>
    <ul>
        <li>Pseudo Rental Hangar Cost: $400</li>
    </ul>
</ul>

{% endblock %}