{% extends 'base.html' %}

{% block head %}
<h1>Resume: Aviation</h1>
{% endblock %}

{% block body %}
<h2>TECHNOLOGIES</h2>
Experienced:<br>Python, SQL, PySpark (Spark), PowerBI<br>
<br>
Familiar:<br>JavaScript, HTML, CSS<br>
<br>
Specialized:<br>Transoft AirTOP, Envirosuite OPAS & ANOMS, Airbus PEP

<h2>EDUCATION</h2>

<b>Bachelor of Aerospace Engineering<br>
Stream A: Aerodynamics, Propulsion, & Aircraft Performance</b><br>
<i>Carleton University, Ottawa, Ontario</i><br>
September 2012 - April 2016<br>
<br>

<b>Private Pilot License (currently 108 hrs TT, 15 hrs IFR)</b><br>
<i>Rockcliffe Flying Club, Ottawa, Ontario</i><br>
May 2015 - May 2016<br>
<br>

<b>Instrument Flight Rating Ground School</b><br>
<i>Harv's Air Flight Training, Online</i><br>
February 2017 - November 2017<br>
<br>

<b>Airbus Performance Engineer's Programs (PEP) and Electronic Flight Bag (EFB) Course</b><br>
<i>Airbus, Toulouse, France</i><br>
March 2018<br>
<br>

<b>AGILE & LEAN Methodologies Training</b><br>
<i>NAVBLUE, An Airbus Company, Waterloo, Ontario</i><br>
April 2019<br>
<br>

<b>ICAO Performance Based Navigation (PBN) Certifications:<br>
PBN Overview, PBN for Pilots, & PBN Airspace Design</b><br>
<i>The International Civil Aviation Organization (ICAO), Online</i><br>
August 2020 - October 2020<br>
<br>

<b>ICAO Performance Based Navigation (PBN) Operations Approval Certification</b><br>
<i>The International Civil Aviation Organization (ICAO), Online</i><br>
June 2021 - August 2021<br>
<br>

<b>Aircraft Maintenance Engineer (AME) Course</b><br>
<i>International Career School (ICS) Canada, Online</i><br>
June 2021 - Present<br>

<h2>WORK EXPERIENCE</h2>

<b>Airspace & Flight Trajectory Analyst (Organizational Performance Analyst)</b><br>
<i>NAV Canada, Ottawa, Ontario</i><br>
February 2022 - Present<br>
<br>

<b>Senior Aircraft Performance Engineer</b><br>
<i>NAVBLUE, An Airbus Company, Waterloo, Ontario</i><br>
October 2020 - February 2022<br>
<br>

<b>Aircraft Performance Engineer</b><br>
<i>NAVBLUE, An Airbus Company, Waterloo, Ontario</i><br>
July 2016 - October 2020<br>
<br>

<b>Aircraft Dispatcher</b><br>
<i>Rockcliffe Flying Club, Ottawa, Ontario</i><br>
September 2015 - July 2016<br>
<br>

<b>Medical Secretary and Document Archiver</b><br>
<i>Asclepios Medical Clinic, Ottawa, Ontario</i><br>
September 2010 - December 2015<br>
<br>

<h2>APPLIED PROJECTS</h2>

{% endblock %}