{% extends 'base.html' %}

{% block head %}
<h1>1959 Cessna 175 C-FCND</h1>





{% endblock %}

{% block body %}

<h2>Quick Reference</h2>

MTOW: 2350 lb<br>
Empty Weight: 1400 lb ??? TBD<br>
Fuel Capacity: 52 Gallons (312 lbs 100LL)<br>
<br>
Vso = 53 - 56 mph (46 - 49 kts) (20 - 40 deg flaps)<br>
Vs = 60 mph (52 kts)<br>
Vr =  mph ( kts)<br>
Vx = 61 mph (no flaps) to 60 mph (52 kts) (20 deg flaps)<br>
Vy (@ S.L.): 75 mph (65 kts) (1700 lbs) to 84 mph (73 kts) (2350 lbs)<br>
<br>
V Approach = 65 - 75 mph (56 - 65 kts) (flaps) <br>
Vref (1.17 Vso - 1.3 Vso) = 62 - 69 mph (54 - 60 kts)<br>
Max Flaps Extended Speed = 100 mph (87 kts)<br>
Va (Maneuvering Speed) = 123 mph (107 kts)<br>
Vne (Never Exceed Speed) = 176 mph (153 kts)<br>
<br>
Flap Range (White Arc): 53 - 100 mph (46 - 87 kts)<br>
Normal Range (Level or Climb) (Green Arc): 62 - 140 mph (54 - 122 kts)<br>
Caution Range (Level or Climb) (Yellow Arc): 140 - 176 mph (122 - 153 kts)<br>
Maximum (Glide or Dive, Smooth Air) (Red Line) = 176 mph (153 kts)<br>

<h2>Checklists</h2>

<details>
    <summary>PREFLIGHT</summary>
        <ol>
          <li>R. Fuel Drain – Sump</li>
          <li>R. Fuel Level – Check</li>
          <li>L. Fuel Drain – Sump</li>
          <li>L. Fuel Level – Check</li>
          <li>2 Belly Fuel Strainers – Drain</li>
          <li>Oil Level – Check (6-8 qts)</li>
          <li>Docs/Squawks – ARROW/VOR</li>
          <li>Control locks – Remove</li>
          <li>Fuel Selector – Both</li>
          <li>Ignition Switch – Off</li>
          <li>Avionics Master – Off</li>
          <li>Master Switch – On</li>
          <li>Fuel Qty & Pump – Check</li>
          <li>Lights – Check and Off</li>
          <li>Tach Time – Note</li>
          <li>Master Switch – Off</li>
          <li>Flaps – Down</li>
          <li>L. Fuselage – Check</li>
          <li>Antennas – Check</li>
          <li>Tail Surfaces – Check</li>
          <li>L. Elevator – Check</li>
          <li>Actuator Cables – Check</li>
          <li>Rudder Bolts – Check</li>
          <li>Tail Tiedown – Remove</li>
          <li>Trim Actuator – Check</li>
          <li>R. Elevator – Check</li>
          <li>R. Fuselage – Check</li>
          <li>R. Flap – Check</li>
          <li>R. Aileron – Check</li>
          <li>R. Wing – Check</li>
          <li>R. Wing Tiedown – Remove</li>
          <li>R. Gear/Tire/Brake – Check</li>
          <li>Prop – Clear, no Damage/Leaks</li>
          <li>Alternator Belt – Check</li>
          <li>Nose Strut – Check 3"</li>
          <li>Static Port – Clear</li>
          <li>L. Wing – Check</li>
          <li>Stall Warning – Check</li>
          <li>Fuel Vent – Clear</li>
          <li>Pitot Tube – Clear</li>
          <li>L. Wing Tiedown – Remove</li>
          <li>L. Aileron – Check</li>
          <li>L. Flap – Check</li>
          <li>L. Gear/Tire/Brake – Check</li>
          <li>Flaps – Up</li>
        </ol>
</details>
<details>
    <summary>BEFORE START</summary>
    <ol>
    <li>Preflight – Complete</li>
    <li>Tiedowns/Cowling Towbar – Removed</li>
    <li>Fuel Caps – Double Checked</li>
    <li>Passenger Briefing – Complete</li>
    <li>Carbon Monoxide Detector – Check</li>
    <li>Seat/Seatbelts – Secure</li>
    <li>Brakes – Set</li>
    <li>Key – In Ignition</li>
    </ol>
</details>
<details>
    <summary>STARTING ENGINE</summary>
    <ol>
    <li>Fuel Selector – Both</li>
    <li>Avionics – Off</li>
    <li>Circuit Breakers – In</li>
    <li>Mixture – Rich</li>
    <li>Carb Heat – Cold</li>
    <li>Prime – 2-4 Strokes or Throttle</li>
    <li>Throttle – Open 1/4"</li>
    <li>Beacon Light – On</li>
    <li>Master Switch – On</li>
    <li>Prop Area – Clear</li>
    <li>Ignition Switch – Both</li>
    <li>Starter – Engage</li>
    <li>Throttle – 800-1200 RPM</li>
    <li>Oil Pressure – 25-95 PSI</li>
    <li>Mixture – Ground Lean</li>
    <li>Avionics Master/Radios – On</li>
    <li>Weather – Check</li>
    <li>Transponder – Set</li>
    <li>Lights – As Required</li>
    </ol>
</details>
<details>
    <summary>TAXI</summary>
    <ol>
    <li>Brakes – Check</li>
    <li>Flight Controls – Set for Wind</li>
    </ol>
</details>

<details>
    <summary>RUNUP</summary>
    <ol>
    <li>Brakes – Set</li>
    <li>Cabin Doors – Closed</li>
    <li>Flight Controls – Free & Correct</li>
    <li>Flight Instruments – Check/Set</li>
    <li>Mixture – Rich, or Lean & Smooth</li>
    <li>Throttle – 1700 RPM</li>
    <li>Oil Pressure – Check</li>
    <li>Suction Gauge – Green</li>
    <li>Ammeter – Charging</li>
    <li>Carb Heat – Check for RPM Drop</li>
    <li>Mags – Max 175 RPM Drop</li>
    <li>Throttle – 1000 RPM</li>
    <li>Oil Temp – >100</li>
    <li>Radios/Avionics – Set</li>
    <li>Departure Plan – Review</li>
    <li>Flaps – 0° or 20° Short/Soft Field</li>
    </ol>
</details>

<details>
    <summary>FOULED SPARK PLUG PROCEDURE</summary>
    <ol>
    <li>Throttle – At least 50% Power</li>
    <li>Mixture – Lean until Engine Roughness Begins</li>
    <li>Time – 1-2 Minutes</li>
    <li>Mixture – Halfway Back to Full Rich</li>
    <li>Ignition Switch – Check L & R</li>
    <li>Repeat if Needed, Note Which Ignition Side is Rough</li>
    <li>Throttle – Idle</li>
    <li>Proceed to Takeoff Checklist or Return to Hangar</li>
    </ol>
</details>

<details>
  <summary>TAKEOFF</summary>
  <ol>
    <li>Trim – Set for Takeoff</li>
    <li>Mixture – Rich or lean &gt;4000'</li>
    <li>Landing Lights – On</li>
    <li>Fuel Pump – On</li>
    <li>Time – Note</li>
    <li>Throttle – Idle</li>
    <li>Proceed to Takeoff checklist or Return to hangar</li>
  </ol>
  </details>

<details>
    <summary>TAKEOFF</summary>
    <ol>
    <li>Unmarked V Speeds in MPH:</li>
    <ol>
      <li>V<sub>70</sub></li>
      <li>V<sub>x</sub> 61 with 20° Flaps</li>
      <li>V<sub>y</sub> 84</li>
      <li>V<sub>123</sub></li>
      <li>Best Glide 70</li>
    </ol>
    <li>Trim – Set for Takeoff</li>
    <li>Mixture – Rich or Lean ≤4,000'</li>
    <li>Landing Lights – On</li>
    <li>Fuel Pump – On</li>
    <li>Time – Note</li>
    </ol>
</details>

<details>
  <summary>CLIMB</summary>
  <ol>
    <li>Flaps – Up above obstacles</li>
    <li>Airspeed – 90 MPH</li>
    <li>Power – Full</li>
    <li>Fuel Pump – Off</li>
    <li>Mixture – Lean &lt;4000', CHT &lt;400</li>
  </ol>
  </details>

<details>
  <summary>CRUISE</summary>
  <ol>
    <li>Pitch – Level</li>
    <li>RPM – 2350–2700 RPM</li>
    <li>Trim – Set</li>
    <li>Mixture – Lean, CHTs &lt;400</li>
    <li>Lights – As Required</li>
    <li>Engine Instruments – Check/Monitor</li>
  </ol>
  </details>

  <details>
    <summary>DESCENT</summary>
    <ol>
      <li>Destination Weather – Check</li>
      <li>Throttle – As Required</li>
    </ol>
    </details>

  <details>
    <summary>BEFORE LANDING</summary>
    <ol>
      <li>Seat Belts – On</li>
      <li>Fuel Selector – Both</li>
      <li>Mixture – Rich</li>
      <li>Fuel Pump – On</li>
      <li>Throttle – As Required</li>
      <li>Carb Heat – On</li>
      <li>Prop – Check RPM not in Red</li>
      <li>Mixture – Enrich as Required</li>
      <li>Landing Lights – On</li>
    </ol>
    </details>
    
<details>
<summary>GO-AROUND</summary>
<ol>
  <li>Throttle – Smoothly Full Forward</li>
  <li>Carb Heat – Cold</li>
  <li>Flaps – Retract slowly with Airspeed increase</li>
</ol>
</details>

<details>
<summary>AFTER LANDING</summary>
<ol>
  <li>Flaps – Up</li>
  <li>Carb Heat – Cold</li>
  <li>Mixture – Ground Lean</li>
  <li>Fuel Pump – Off</li>
  <li>Lights – As Required</li>
  <li>Radios – Set</li>
  <li>Transponder – Check</li>
</ol>
</details>



<details>
<summary>Approach Speeds (max gross weight):</summary>
<ol>
  <li>Flaps 0–20° – 70–80 MPH</li>
  <li>Flaps 30–40° – 63–70 MPH</li>
</ol>
</details>





<details>
<summary>Unmarked V Speeds (MPH):</summary>
<ol>
  <li>Vr – 70</li>
  <li>Vx (w/ 20° flaps) – 61</li>
  <li>Vy – 84</li>
  <li>Va – 123</li>
  <li>Best Glide – 70</li>
</ol>
</details>


<h2>Emergeny Procedures</h2>
<details>
<summary>Electrical Fire in Flight</summary>
<ol>
  <li>Master Switch – Off</li>
  <li>Avionics Master Switch – Off</li>
  <li>Electrical Switches – Off</li>
  <li>Vents/Cabin Air – Closed/Off</li>
  <li>Fire Extinguisher – Activate</li>
  <li>Cabin – Ventilate</li>
  <li>If fire is out and power is needed...</li>
</ol>
</details>
<details>
<summary>Engine Fire During Start</summary>
<ol>
  <li>Cranking – Continue with starter engaged</li>
  <li>If engine starts:
    <ol>
      <li>Throttle – 1700 RPM for 3 minutes</li>
      <li>Engine – Shutdown/Inspect</li>
    </ol>
  </li>
  <li>If engine fails to start:
    <ol>
      <li>Throttle – Full Open</li>
      <li>Mixture – Idle Cutoff</li>
      <li>Cranking – Continue</li>
      <li>Fire Extinguisher – Obtain</li>
      <li>Master Switch – Off</li>
      <li>Ignition Switch – Off</li>
      <li>Fuel Selector – Off</li>
      <li>Fire – Extinguish</li>
      <li>Fire Damage – Inspect</li>
    </ol>
  </li>
</ol>
</details>
<details>
<summary>Wing Fire</summary>
<ol>
  <li>Landing Lights – Off</li>
  <li>Navigation Lights – Off</li>
  <li>Perform Sideslip to keep flames away from fuel</li>
  <li>Land As Soon As Possible</li>
</ol>
</details>
<details>
<summary>Cabin Fire</summary>
<ol>
  <li>Master Switch – Off</li>
  <li>Vents/Cabin Air – Closed/Off</li>
  <li>Fire Extinguisher – Activate</li>
  <li>Cabin – Ventilate</li>
  <li>Land As Soon As Possible</li>
</ol>
</details>
<details>
<summary>Precautionary Landing w/ Engine</summary>
<ol>
  <li>Seats/Seatbelts – Secure</li>
  <li>Flaps – 20°</li>
  <li>Airspeed – 65–70 MPH</li>
  <li>Landing Site – Overfly & Assess</li>
  <li>Electrical Switches – Off</li>
  <li>Avionics Master – Off</li>
  <li>Master Switch – Off</li>
  <li>Flaps – 30–40° on Final Approach</li>
  <li>Doors – Unlatch</li>
  <li>Touchdown – Nose High</li>
  <li>Ignition Key – Off</li>
  <li>Brakes – Apply Heavily</li>
</ol>
</details>
<details>
<summary>Emergency Landing w/o Engine:</summary>
<ol>
  <li>Radio – “MAYDAY” on ATC or 121.5</li>
  <li>Transponder – 7700</li>
  <li>Airspeed – 70 MPH Flaps UP</li>
  <li>60 MPH Flaps DOWN</li>
  <li>Mixture – Idle Cutoff</li>
  <li>Fuel Selector – Off</li>
  <li>Ignition Switch – Off</li>
  <li>Flaps – As Required</li>
  <li>Master Switch – Off</li>
  <li>Doors – Unlatch</li>
  <li>Touchdown – Tail Low</li>
  <li>Brakes – Apply Heavily</li>
</ol>
</details>
<details>
<summary>Engine Fire During Flight:</summary>
<ol>
  <li>Mixture – Idle Cutoff</li>
  <li>Fuel Selector – Off</li>
  <li>Master Switch – Off</li>
  <li>Cabin Heat/Air – Off</li>
  <li>Airspeed – 110 MPH or more</li>
  <li>Master Landing – Execute</li>
</ol>
</details>
<details>
<li>Emergency Frequency:</li>
<ol>
  <li>121.5</li>
  <li>Emergency Transponder Code – 7700</li>
  <li>Radio Failure/Transponder Code – 7600</li>
</ol>
</details>
<details>
<summary>Carbon Monoxide Detector Alarm</summary>
<ol>
  <li>Shut off (push) cabin heat</li>
  <li>Shut off (pull) cabin air knob on panel</li>
  <li>Open wing root vents</li>
  <li>Open window in left cabin door</li>
</ol>
</details>
<details>
<summary>Ammeter Shows Excessive Charge</summary>
<ol>
  <li>Alternator CB – Pull</li>
  <li>Nonessential Electrical Equip – Off</li>
  <li>Land As Soon As Practical</li>
</ol>
</details>
<details>
<summary>Ammeter Shows Excessive Discharge</summary>
<ol>
  <li>Avionics Master – Off</li>
  <li>Alternator CB – Check In</li>
  <li>Master Switch – Off</li>
  <li>Master Switch – On</li>
  <li>Ammeter – Check if Charging</li>
  <li>Avionics Master – On</li>
  <li>If Discharge continues:</li>
  <li>Non-essential Elec Equip – Off</li>
  <li>Land As Soon As Practical</li>
</ol>
</details>

<h2>POH</h2>
<p><a href="assets/C175 POH.pdf">C175 POH</a></p>

<h2>Avionics</h2>
<h3>Navigation</h3>
<p><a href="assets/aera660_manual.pdf">Garmin Aera 660</a></p>
<p><a href="assets/Pro_Pilot_Manual_1300012_certified.pdf">Trio Avionics Pro Pilot Autopilot</a></p>
<h3>Communication</h3>
<p><a href="assets/PAR200B_PG.pdf">PS Engineering PAR200B Audio Selector Panel, High-fidelity Stereo Intercom System, VHF Communications Transceiver Controller</a></p>
<p><a href="assets/Garmin-SL40.pdf">Garmin SL40 VHF Comm</a></p>
<h3>Surveillance</h3>
<p><a href="assets/gtx327-190-00187-00_D.pdf">Garmin GTX327 Transponder</a></p>

<h2>Systems</h2>

<h3>Aux Fuel Tank</h3>
Unclear if it's stock (because no baggage door and was at one point a factory option for other Cessnas) or add on/STC (closest I found was http://www.griggsaircraft.com/fabrication/aux_fuel_systems but no C175 and slight details don't match)
<p><a href="assets/CessnaAuxFuelTank.png">Cessna Aux Fuel Tank</a></p>
Placard reads: "Place pump OFF before changing FROM LEFT tank"
<ol>
  <li>Takeoff, climb, and land with fuel selector valve handle set in "BOTH ON" position</li>
  <li>At cruise altitude, switch to "RIGHT TANK" position and operate from this fuel tank until the fuel supply is exhausted</li>
  <li>Switch to "LEFT TANK" for operation</li>
  <li>Pull on aux fuel pump switch and refill right main fuel tank from aux fuel tank</li>
  <li>WATCH THE MAIN TANK FUEL LEVEL CLOSELY, DO NOT OVERFILL</li>
  <li>Push aux fuel pump switch to "OFF" when fuel transfer is completed (transfer of fuel will take 45-60 minutes TBC!!!)</li>
  <li>DO NOT OPERATE THE AUX FUEL PUMP WITH THE FUEL SELECTOR ON "BOTH" OR "RIGHT" AFTER FUEL TRANSFER HAS BEEN COMPLETED - ENGINE STOPPAGE WILL OCCUR, IF IT HAPPENS SWITCH PUMP OFF AND WAIT 3-5 SECONDS</li>
  <li>Return fuel selector valve handle to "BOTH ON" or even "RIGHT" position after refilling the right tank and shutting off the aux fuel pump</li>
</ol>


<h2>Cockpit</h2>
<img src="assets/PXL_20250115_020157805.jpg" alt="test2">

{% endblock %}