{% extends 'base.html' %}

{% block head %}
<h1>Cessna 175 C-FCND</h1>





{% endblock %}

{% block body %}

<h2>Quick Reference</h2>

MTOW: 2350 lb<br>
Empty Weight: 1400 lb ??? TBD<br>
Fuel Capacity: 52 Gallons (312 lbs 100LL)<br>
<br>
Vso = 53 - 56 mph (46 - 49 kts) (20 - 40 deg flaps)<br>
Vs = 60 mph (52 kts)<br>
Vr =  mph ( kts)<br>
Vx = 61 mph (no flaps) to 60 mph (52 kts) (20 deg flaps)<br>
Vy (@ S.L.): 75 mph (65 kts) (1700 lbs) to 84 mph (73 kts) (2350 lbs)<br>
<br>
V Approach = 65 - 75 mph (56 - 65 kts) (flaps) <br>
Vref (1.17 Vso - 1.3 Vso) = 62 - 69 mph (54 - 60 kts)<br>
Max Flaps Extended Speed = 100 mph (87 kts)<br>
Va (Maneuvering Speed) = 123 mph (107 kts)<br>
Vne (Never Exceed Speed) = 176 mph (153 kts)<br>
<br>
Flap Range (White Arc): 53 - 100 mph (46 - 87 kts)<br>
Normal Range (Level or Climb) (Green Arc): 62 - 140 mph (54 - 122 kts)<br>
Caution Range (Level or Climb) (Yellow Arc): 140 - 176 mph (122 - 153 kts)<br>
Maximum (Glide or Dive, Smooth Air) (Red Line) = 176 mph (153 kts)<br>





{% endblock %}