{% extends 'base.html' %}

{% block head %}
<h1>General Flying Setup</h1>





{% endblock %}

{% block body %}

Need general flying kit, that will be relevant to most/any aircraft, whetehr rented or owned.

Everything should be as lightweight as possible, as well as compact as possible.

Any ability to fit things into eachother efficiently to be even more compact is a plus.

List:
- Tent
- Oil kit (small box? what about oil residue?)
  - Oil bottles (1-2 used) and funnel
- Chocks
- Water filtration
  - LifeStraw Go 1L bottle + filter?
  - Water filtration tablets + other water bottle?
- Tiedowns
  - Rope lighter than ratchet straps?
  - Lifting hooks + rope?
  - Screw in tiedown hooks
- 
{% endblock %}