{% extends 'base.html' %}

{% block head %}
<h1>Aircraft Trips</h1>
{% endblock %}

{% block body %}
<h2>August 2025 - C175 to Arviat, NU?</h2>

The trip would be completed weather dependent on the weeks between Aug 4th 2025 to Sept 8th 2025.<br>
It is not necessary to flight all legs but instead just try to push as far as safely possible and with enough time to return safely.<br>
<br>
Leg 1: CYRP -> CYYB -> CYTS (310 NM, ~ 2.8 hrs, 2400 ft min)<br>
Leg 2: CYTS -> CYGQ -> CYPL (390 NM, ~ 3.5 hrs, 2100 ft min)<br>
Leg 3: CYPL -> CJT3 -> CYGX (353 NM, ~ 3.2 hrs, 2000 ft min)<br>
Leg 4: CYGX -> CYYQ -> CYEK (299 NM, ~ 2.7 hrs, 1300 ft min)<br>
<br>
Leg 5: CYEK -> CYYQ -> CYGX (299 NM, ~ 2.7 hrs, 1300 ft min)<br>
Leg 6: CYGX -> CJT3 -> CYPL (353 NM, ~ 3.2 hrs, 2000 ft min)<br>
Leg 7: CYPL -> CYGQ -> CYTS (390 NM, ~ 3.5 hrs, 2100 ft min)<br>
Leg 8: CYTS -> CYYB -> CYRP (310 NM, ~ 2.8 hrs, 2400 ft min)<br>
<br>
Total baseline flgiht time: 24.4 hrs, at $225/hr then ~$5500 (just aicraft operating costs)<br>
<br>
Possible add on visits, time and wind/performance permiting:<br>
- Stop in CYYQ, Churchill<br>
- Stop in CYGQ, Geraldton<br>
- Deviation to Kenora, CYQK?<br>
<br>
Usable Fuel, Main Tanks: 43 Gallons<br>
Assumd Usable Fuel, Aux Fuel Tank: 15 Gallons<br>
Assumed Fuel Capacity for Flight: 58 Gallons<br>
At worst case 13 GPH, ~ 4.5 hours of flight time total.<br>
At worst case 13 GPH and no aux fuel tank use, ~ 3.3 hours flight time total.<br>
Realistically, at 11 GPH and no aux fuel tank use, ~ 3.9 hours flight time total.<br>
Realistically, at 11 GPH, 5.3 hours flight time total.<br>
None of these are considering reserves on landing, though, to be clear.<br>
<br>
All airports listed in the legs above (EXCEPT for CYYQ) should have 100LL.<br>
<br>
Available weight left with full fuel (wings and aux) and 2x 180 lbs pilots: 110 lbs<br>
<br>
Best places to get into town and/or sleep:<br>
- Gillam (close walk to town, camping loosk possible)<br>
- Arviat (close walk to town, camping looks possible)<br>
- Pickle Lake (camping looks possible but not walk to town, only to lake)<br>
- Geraldton (camping looks possible but not walk to town, only to lake)<br>
<br>

Necessary Items:
- Oil
- Oil Funnel
- Fuel Gloves
- iPad
- Kneepad
- Battery bank
- Cig Lighter charger
- Working Pens
- Spare batteries
- Tent
- Survival Kit (Lighter/Matches, First Aid Kit, Water, Shelter)
- SOS Device
- Earplugs
- Flashlight
- Tie Downs
- Chocks
- Towbar
- Headset
- Minimal tools
- Licenses
- Mini ladder for fueling?
- Jerry cans or bladders?



{% endblock %}