{% extends 'base.html' %}

{% block head %}

<script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>

{% endblock %}

{% block body %}

<h2>Trip Time vs Speed</h2>
<div id="timePlot" style="width:100%;height:700px;"></div>

<h2>Fuel Required vs Speed (800 NM Trip)</h2>
<div id="fuelPlot" style="width:100%;height:700px;"></div>

<h2>NMPG vs Speed</h2>
<div id="nmpgPlot" style="width:100%;height:700px;"></div>

<h2>Passenger Efficiency vs Speed</h2>
<div id="passengerPlot" style="width:100%;height:700px;"></div>

<h2>Time vs Fuel Used (800 NM Trip)</h2>
<div id="timeFuelPlot" style="width:100%;height:700px;"></div>

<script>

// =====================================================
// Inputs
// =====================================================

const distances = [400, 800, 1200, 1600];

const speeds = Array.from(
    {length:22},
    (_,i)=>95+i*5
);

const defaultTripDistance = 800;


// =====================================================
// Aircraft cruise mode definitions
// =====================================================

const aircraft = [

{
    name:"Rebel Murphy",
    passengers:2,

    modes:[
        {name:"Economy", speed:95, gph:4},
        {name:"Normal", speed:105, gph:5},
        {name:"Max Cruise", speed:115, gph:7}
    ]
},

{
    name:"Glasair I-II",
    passengers:2,

    modes:[
        {name:"Economy", speed:155, gph:7},
        {name:"Normal", speed:165, gph:8},
        {name:"Max Cruise", speed:175, gph:10}
    ]
},

{
    name:"Lancair 320-360",
    passengers:2,

    modes:[
        {name:"Economy", speed:170, gph:7},
        {name:"Normal", speed:180, gph:8},
        {name:"Max Cruise", speed:190, gph:10}
    ]
},

{
    name:"Q200",
    passengers:1,

    modes:[
        {name:"Economy", speed:155, gph:4},
        {name:"Normal", speed:170, gph:5},
        {name:"Max Cruise", speed:180, gph:6}
    ]
},

{
    name:"Long EZ",
    passengers:2,

    modes:[
        {name:"Economy", speed:125, gph:4},
        {name:"Normal", speed:135, gph:5},
        {name:"Max Cruise", speed:140, gph:6}
    ]
}

];


// =====================================================
// Plot 1: Fuel Required vs Speed (800 NM)
// =====================================================

const gphValues=[
    4,5,6,7,8,9,10,11,12,13
];

let fuelTraces = gphValues.map(gph=>({

    x:speeds,

    y:speeds.map(speed =>
        defaultTripDistance/speed*gph
    ),

    mode:"lines+markers",

    name:`${gph} GPH`

}));


function createFuelEnvelope(ac){

let x=[];
let y=[];

    ac.modes.forEach(mode=>{

        x.push(mode.speed);

        y.push(
            defaultTripDistance/mode.speed*mode.gph
        );

    });


    [...ac.modes].reverse().forEach(mode=>{

        x.push(mode.speed);

        y.push(
            defaultTripDistance/mode.speed*(mode.gph+1)
        );

    });


    x.push(x[0]);
    y.push(y[0]);


    return {

        x:x,
        y:y,

        mode:"lines",

        fill:"toself",

        name:`${ac.name} envelope`,

        opacity:0.35

    };

}



aircraft.forEach(ac=>{

    fuelTraces.push(
        createFuelEnvelope(ac)
    );

});



Plotly.newPlot(
"fuelPlot",
fuelTraces,
{

title:"Fuel Required vs Cruise Speed (800 NM Trip)",

xaxis:{
    title:"Cruise Speed (kt)"
},

yaxis:{
    title:"Fuel Required (gal)"
},

hovermode:"x unified",

template:"plotly_white"

});

</script>

{% endblock %}