{% extends 'base.html' %}

{% block head %}

<h1>Pipe Dream Hangar</h1>
{% endblock %}

{% block body %}

<h2>Aircraft Pipe Dreams</h2>

<h3>Airplanes I hope to own at some point in life:</h3>
<ul>
    <li>Zenith 750 STOL or Super Suty, or Zenith 801</li>
    <li>Long EZ</li>
    <li>Lancair 360 or Legacy, or Darkaero 1</li>
    <li>Seawind 3000</li>
    <li>Diamond DA-42 or DA-62</li>
</ul>

<h3>Missions to fulfil:</h3>
<ul>
    <li>Unprepared/off-field operations / STOL</li>
    <li>High speed and efficiency cross-country</li>
    <li>Float flying</li>
    <li>World travel</li>
</ul>

<h2>Zenith 750 STOL vs. Zenith 750 Super Duty</h2>

Zenith 750 STOL:
<ul>
    <li>2 seater</li>
</ul>

Zenith 750 Super Duty:
<ul>
    <li>3 seater</li>
</ul>

<table>
  <tr>
    <th></th>
    <th>750 STOL</th>
    <th>750 Super Duty</th>
  </tr>
  <tr>
    <td>Seats</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Wing Span</td>
    <td>29ft 10in</td>
    <td>33ft 5in</td>
  </tr>
  <tr>
    <td>Empty Weight</td>
    <td>775lbs</td>
    <td>1100lbs</td>
  </tr>
  <tr>
    <td>Empty Weight w/out Estimated Engine Weight</td>
    <td>575lbs</td>
    <td>800lbs</td>
  </tr>
  <tr>
    <td>Empty Weight w/out Estimated Engine Weight + Viking Weight</td>
    <td>795lbs</td>
    <td>1060lbs</td>
  </tr>
  <tr>
    <td>Design Gross Weight</td>
    <td>1440lbs</td>
    <td>1900lbs</td>
  </tr>
  <tr>
    <td>Useful Load</td>
    <td>665lbs</td>
    <td>800lbs</td>
  </tr>
  <tr>
    <td>Useful Load w/ Amphib. Floats</td>
    <td>465lbs</td>
    <td>480lbs</td>
  </tr>
  <tr>
    <td>Cabin Width</td>
    <td>42in</td>
    <td>42in</td>
  </tr>
  <tr>
    <td>Cabin Width (bubble doors)</td>
    <td>50in</td>
    <td>50in</td>
  </tr>
</table>

{% endblock %}