<!DOCTYPE>
<html>
    <head>
        <meta name = "viewport"
            content = "width=device-width, initial-scale = 1" />
    
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

    </body>  

    <aside>
        <br>
        <a href="index.html">Back to home page</a>

        <h3>Menu</h3>
        <ul>
            <li><a href="{{ url_for('index') }}">Home Page</a></li>
            <li><a href="{{ url_for('account_links') }}">Profile Links</a></li>
            <li><a href="{{ url_for('ig_links') }}">Instagram Post Links</a></li>
            <li><a href="{{ url_for('photography') }}">Photography</a></li>
            <li><a href="{{ url_for('video') }}">Video</a></li>
            <li><a href="{{ url_for('resume_aviation') }}">Resume</a></li>
            <li><a href="{{ url_for('python_code') }}">Python Code</a></li>
        </ul>
    </aside>

    <footer>
        <p>Copyright &copy 2022 Chris Chain</p>
    </footer>
</html>