{% extends 'base.html' %}

{% block head %}
<h1>Video</h1>
{% endblock %}

{% block body %}
<h2>Here are some of my videos:</h2>

<iframe width="420" height="345" src="https://www.youtube.com/embed/5Z8UjWqMwYY"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/1mgW7wbOeFM"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/1MCtyFXeWxM"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/7vhkFqub7as"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/f2wGlco3aTU"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/zLyzZKJXqgA"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/7kT61u5VaxI"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/QIOH8rTfAS8"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/1AVy5lY5ftE"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/DO7ASsemJQ8"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/iVcRn6vN1Ao"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/lzXZSIYzn0M"></iframe>
{% endblock %}