{% extends 'base.html' %}

{% block head %}

<h1>Zenith Build Study</h1>
{% endblock %}

{% block body %}

<h2>Introduction</h2>

<h2>Zenith 750 STOL vs. 750 Super Duty vs. 801 Super Duty</h2>

Zenith 750 STOL Notes:
<ul>
  <li>Pros:</li>
  <ul>
      <li>Low fuel burn</li>
  </ul>
  <li>Cons:</li>
  <ul>
      <li>Only 2 seats</li>
      <li>Limited baggage weight</li>
  </ul>
</ul>

Zenith 750 Super Duty:
<ul>
  <li>Pros:</li>
  <ul>
      <li>Simplest build (matched hole kit)</li>
      <li>Popular build</li>
  </ul>
  <li>Cons:</li>
  <ul>
      <li>High HP and fuel burn (typical for 4 seaters) for less seats/payload</li>
      <li>Limited space around the jump seat for sleeping configuration</li>
      <li>Need floats designed for much weight gross weights</li>
  </ul>
</ul>

Zenith 801 Super Duty:
<ul>
  <li>Pros:</li>
  <ul>
      <li>4 seats</li>
      <li>High payload</li>
      <li>Long range checks</li>
  </ul>
  <li>Cons:</li>
  <ul>
      <li>Price</li>
      <li>Not popular build</li>
  </ul>
</ul>

<table>
  <tr>
    <th></th>
    <th>750 STOL</th>
    <th>750 Super Duty</th>
    <th>801 Super Duty</th>
  </tr>
  <tr>
    <td>Seats</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Wing Span</td>
    <td>29ft 10in</td>
    <td>33ft 5in</td>
    <td>35ft 4in</td>
  </tr>
  <tr>
    <td>Empty Weight</td>
    <td>775lbs</td>
    <td>1100lbs</td>
    <td>1300lbs</td>
  </tr>
  <tr>
    <td>Empty Weight w/out Estimated Engine Weight</td>
    <td>575lbs</td>
    <td>800lbs</td>
    <td></td>
  </tr>
  <tr>
    <td>Empty Weight w/out Estimated Engine Weight + Viking Weight</td>
    <td>795lbs</td>
    <td>1060lbs</td>
    <td></td>
  </tr>
  <tr>
    <td>Design Gross Weight</td>
    <td>1440lbs</td>
    <td>1900lbs</td>
    <td>2700lbs</td>
  </tr>
  <tr>
    <td>Useful Load</td>
    <td>665lbs</td>
    <td>800lbs</td>
    <td>1400lbs</td>
  </tr>
  <tr>
    <td>Useful Load w/ Amphib. Floats</td>
    <td>465lbs</td>
    <td>480lbs</td>
    <td>880lbs*</td>
  </tr>
  <tr>
    <td>Cabin Width</td>
    <td>42in</td>
    <td>42in</td>
    <td>44in</td>
  </tr>
  <tr>
    <td>Cabin Width (bubble doors)</td>
    <td>50in</td>
    <td>50in</td>
    <td>52in</td>
  </tr>
  <tr>
    <td>Design HP</td>
    <td>80 - 140 HP<br>Typical:<br>100 - 130 HP</td>
    <td>150 - 230 HP<br>Typical:<br>180 - 200 HP</td>
    <td>180 - 240 HP<br>Typical:<br>195 - 220 HP</td>
  </tr>
  <tr>
    <td>Power to Weight<br>(Empty Weight + 250 lbs)*</td>
    <td>0.078 - 0.137 HP/lb<br>Typical:<br>0.098 - 0.129 HP/lb</td>
    <td>0.111 - 0.170 HP/lb<br>Typical:<br>0.133 - 0.148 HP/lb</td>
    <td>0.116 - 0.155 HP/lb<br>Typical:<br>0.126 - 0.142 HP/lb</td>
  </tr>
</table>

<h1>Power & Fuel Burn</h1>

<h2>Power to Weight For STOL Operations</h2>

In Chris Heintz's <a href="http://www.zenithair.com/stolch801/design/design.html">Anatomy of a STOL Aircraft:
  Designing a Modern Short Take-Off and Landing Aircraft.</a>, he states:
<p>Overpowering an existing aircraft is the easiest way to achieve short take-off 
  performance (with enough power anything will take-off in a short distance!), 
  but this requires a lot of fuel for acceptable endurance, and is an expensive, 
  heavy, and inefficient way to obtain STOL performance, and does not provide 
  good slow flight or payload due to the heavier engine weight and/or fuel load 
  requirement. My experience tells me that I need 60 to 100 hp for a two-seat 
  aircraft, or 150 to 200 hp for a four-seater capable of carrying 1,000 lbs.</p>
<img src="aircraft_projects/images/power_to_weight_plot_11JUL2022.png" alt="HP/lb for 750 STOL, 750 SD, 801 SD">

<h2>Fuel Burn</h2>
<img src="aircraft_projects/images/cost_per_gph.png" alt="Cost per GPH">
<p>STOL operations almost always make for bad fuel economy. Slow speeds combined (with small variance between low and high STOL cruise speeds) with the need for high enough power for STOL operations makes STOL inherently bad for NM per gallon.
While I've studied and focused on NM per gallon as the main criteria for high performance cross country aircraft, for STOL operations the main concern will be GPH and thus cost per hour.
More power is easy to want, but harder to afford.</p>



<br>
In order to evaluate the feasibility of setting up the aircraft to sleep one (or even better two), I will provide pictures, videos, and quotations for each aircraft.
<br>
<br>
750 Super Duty:
<br>
<img src="aircraft_projects/images/750-SuperDuty-RearSeat.jpeg" alt="Super Duty Rear Seat">
<br>
<img src="aircraft_projects/images/750-SuperDuty-RearSeatPassenger.jpeg" alt="Super Duty Rear Seat w/ Passenger">
<br>
<br>
750 STOL:
<br>


801:




{% endblock %}