{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Soundsystem Inspiration</h1>

Toronto:
<ul>
    <li>Funktion One at Apollo events (notably by Athan Ioannidis)</li>
</ul>

Montreal:
<ul>
    <li>Void at Expose Noir events (notably by ?)</li>
    <li>Danley by Elastique Audio</li>
</ul>

<h1>Goal</h1>
Soundsystem that is:
<ul>
    <li>Extremely Powerful</li>
    <li>Portable</li>
    <li>Efficient</li>
    <li>Expandable</li>
    <li>"Home" or "Unprepared" Grade Power Requirements</li>
    <li>"Affordable"</li>
</ul>

While audio power can be achieved with many speakers, this may not be very portable (or easy to store).<br>
Also, while audio power can be achieved with less speakers by supplying more power to the speakers, this may not be feasible with the available non-commercial electricity.<br>

Therefore, need a speaker design that can provide the most power for the least amount of drivers and efficient amplifiers (minimal heat loss).<br>

Also, it would be useful to have a system that could be expanded and added onto over time. A passive speaker solution with central amplifier allows this easily and allows for easier powering and control from a central unit.<br>

A passive speaker setup also allows for separation of the "hardcore" electronics (amplifier) from the more resistant speaker boxes (solid cabinets with speakers and speaker wire to a jack panel).<br>

While amplifiers are better left to the pros, rigging speakers and cables to a jack panel in a wood enclosure is a realistic DIY project.<br>
However, I would want to avoid just making any rough or improvised cab and experimenting through trial and error - a well proven design will already have the efficiency people count on from the off the shelf product.

<h1>Off the Shelf Speakers Cost</h1>

As of January 2025,
1x Danley TH118: $4789 USD or $6875 CAD + tax<br><br>

<table>
    <tr>
      <th></th>
      <th>Price(w/out tax)</th>
    </tr>
    <tr>
      <td>1x TH118</td>
      <td>$6875</td>
    </tr>
    <tr>
      <td>2x TH118</td>
      <td>$13750</td>
    </tr>
    <tr>
        <td>4x TH118</td>
        <td>$27500</td>
    </tr>
    <tr>
        <td>6x TH118</td>
        <td>$41250</td>
    </tr>
    <tr>
        <td>8x TH118</td>
        <td>$55000</td>
    </tr>
</table>


<h1>Speaker Build Costs</h1>

1x XOC1 TH18 (Danley TH118 "Clone"):
<ul>
    <li>B&C 18SW115-4 Driver: $684 USD or $980 CAD + tax</li>
    <li>Wood: ?????? (Assuming $500)</li>
    <li>Accessories: ?????? (Assuming $300)</li>
</ul>

<p><a href="assets/TH18 with Reflectors & Material Cutlist.PDF">TH18 with Reflectors & Material Cutlist</a></p>

<p><a href="https://speakerplans.eu/details.php?id=58">TH18 On Speaker Plans Website</a></p>
<p><a href="https://www.diyaudio.com/community/threads/th-18-flat-to-35hz-xoc1s-design.190635/post-3144242">Example Build With Good Accessory Mentions</a></p>

<p><a href="https://www.diyaudio.com/community/threads/th-18-flat-to-35hz-xoc1s-design.190635/post-7688487">Example Build Pics</a></p>

<p><a href="https://www.diyaudio.com/community/threads/th-18-flat-to-35hz-xoc1s-design.190635/post-7644889">Realistic Example Build Pics</a></p>

<p><a href="https://www.diyaudio.com/community/threads/th-18-flat-to-35hz-xoc1s-design.190635/post-7554252">Realistic Build With Talk About Handles</a></p>


<p><a href="https://www.diyaudio.com/community/threads/th-18-flat-to-35hz-xoc1s-design.190635/post-7561128">Build With Suggestions For Other Plan Built Mids and Highs</a></p>

<table>
    <tr>
      <th></th>
      <th>Price(w/out tax)</th>
    </tr>
    <tr>
      <td>1x XOC1 TH18</td>
      <td>$1780</td>
    </tr>
    <tr>
      <td>2x XOC1 TH18</td>
      <td>$3560</td>
    </tr>
    <tr>
        <td>4x XOC1 TH18</td>
        <td>$7120</td>
    </tr>
    <tr>
        <td>6x XOC1 TH18</td>
        <td>$10680</td>
    </tr>
    <tr>
        <td>8x XOC1 TH18</td>
        <td>$14240</td>
    </tr>
</table>

<h1>Amplifier Costs</h1>
I still have lots of research to do about suitable amplifiers as well as budget friendly amplifiers.<br>

However, cost permitting, a Linea Research amplifier seems ideal.

Assuming 1x TH118 or XOC1 TH18 is 3400 W,

<table>
    <tr>
      <th></th>
      <th>Max Watts (Subs)</th>
    </tr>
    <tr>
      <td>1x XOC1 TH18</td>
      <td>3400W</td>
    </tr>
    <tr>
      <td>2x XOC1 TH18</td>
      <td>6800W</td>
    </tr>
    <tr>
        <td>4x XOC1 TH18</td>
        <td>13600W</td>
    </tr>
    <tr>
        <td>6x XOC1 TH18</td>
        <td>20400W</td>
    </tr>
    <tr>
        <td>8x XOC1 TH18</td>
        <td>27200W </td>
    </tr>
</table>

<h1>Plan</h1>

4x Xoc1 TH18 (B&C 18SW115 Drivers)<br>
4x Cubo Kick 15 (? Drivers)<br>
4x Highs (Homebuilt could be MT-130, SMT 212, MT 121, MTH 30)<br>
<br>
<img src="assets/raw_wood_2x_th18_cubo15_mt130.jpg" alt="raw_wood_2x_th18_cubo15_mt130">
<br>
<img src="assets/raw_wood_4x_th18_cubo15_2x_mt130.jpg" alt="raw_wood_2x_th18_cubo15_mt130"><br>
<br>
For first iteration, highs can be off the shelf (Yorkville, QSC, JBL, Turbosound, etc.)<br>
<br>
If after a year or more of use of this system has at least paid it off, then can think of expanding by doubling it.




<h1>Relevant Inspo</h1>

TH118 OR TH18 Sub:<br>
<iframe width="420" height="345" src="https://www.youtube.com/embed/8F2gorjuNcE"></iframe>
<br>
B&C 18SW115 Driver:<br>
<iframe width="420" height="345" src="https://www.youtube.com/embed/qWAdSf1J1J8"></iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/yC7UQyJiiws"></iframe>
<br>
Cubo 15:<br>
<iframe width="420" height="345" src="https://www.youtube.com/embed/WmyoOEFWbyg?si=5SKkiRwbXqjeIjmo&t=612"></iframe>


{% endblock %}