{% extends 'base.html' %}

{% block head %}
    <!-- Recommended meta tags -->
    <!--<meta charset="UTF-8"> -->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
    <!-- PyScript CSS -->
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.11.1/core.css">
    <!-- This script tag bootstraps PyScript -->
    <script type="module" src="https://pyscript.net/releases/2024.11.1/core.js?v=1"></script>
    <!--TODO: MOVE CACHE BUSTER VERSION TO MAIN FILE AND TO AN UPDATE DATE-->

    <!-- for splashscreen -->
    <style>
        #loading { outline: none; border: none; background: transparent }
    </style>
    <script type="module">
        const loading = document.getElementById('loading');
        addEventListener('py:ready', () => loading.close());
        loading.showModal();
    </script>

    <!-- style for spinner and canvas -->
    <style>
        .loading {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 3px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top-color: black;
            animation: spin 1s ease-in-out infinite;
        }

        canvas {
            display: none;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    </style>
{% endblock %}

{% block body %}

<dialog id="loading">
    <h1>Loading...</h1>
</dialog>

<!-- Your input and button here -->
<h1>Enter some data and press "Run"</h1>

<!-- Entry box for user input -->
<input type="text" id="userInput" placeholder="Enter value" />
<button id="runButton" type="submit" py-click="run_func">Run Function</button>

<!-- your code goes here... -->
<div id="result_area">
<script type="py" src="./ac_register_plot.py" config="./regsearch_config.toml"></script>
</div>

{% endblock %}